HBox {
    -fx-alignment: CENTER;
}

.choice-label {
    -fx-font-size: 30;
}

#loginView {
    -fx-background-color: #2c7bff;
}


TextField {
    -fx-font-size: 20;
    -fx-pref-width: 400;
    -fx-border-color: #ae35ff;
}

PasswordField {
    -fx-font-size: 20;
    -fx-pref-width: 400;
    -fx-border-color: #ae35ff;
    -fx-grow: always;
}

Button {
    -fx-font-size: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

Button:hover {
   -fx-background-color: white;
    -fx-text-fill: black;
}
